@charset "utf-8";

/*公共样式*/
*{
	margin:0;
	padding:0;
}
a{
	text-decoration: none;
	color:black;
}
ul{
	list-style: none;
}
body{
	background-color: #efefef;
}
/*hearder样式*/
header{
	background-color:#06c1ae;
	overflow: hidden;
}
.col{
	float:left;
}
header .search{
	width:100%;
	height:56px;
}
header .search .wrap{
	margin:0 60px;
	position: relative;
}
header .wrap input{
	width:100%;
	height:36px;
	line-height: 36px;
	border-radius:6px;
	outline: none;
	border:0;
	background-color: #05a494;
	color:white;
	margin:10px 0;
	padding-left:36px;
	box-sizing:border-box;
}
header .wrap input::placeholder{
	color:rgba(255,255,255,0.5);
}
header .wrap img{
	position: absolute;
	top:22px;
	left:10px;
}
header .location{
	width:60px;
	height:56px;	
	line-height: 56px;
	margin-left:-100%;
	text-align:center;
	color:white;
}
header .info{
	width:60px;
	height:56px;
	text-align:center;
	margin-left:-60px;
	color:white;
	font-size: 12px;  
}
header .info img{
	margin-top:10px;
}

/*banner样式*/
.banner img{
	width:100%;
	height:auto;
	display: block;
}

/*section样式*/
section{
	margin-bottom:60px;
}
.top,.top2{	
	background-color: #fff;
}
.top{
	margin-top: 0;
}
.top2{
	margin-bottom:10px;
}
.top{
	width:100%;
	height:110px;
	background: white;
	box-sizing: border-box;
}
.top ul{
	height:100%;
	display: flex;
	justify-content: space-around;
	flex-wrap:nowrap;
	border-bottom:1px solid #eee;
}
.top ul li{
	height:100%;
	text-align:center;
	display: flex;
	align-items:center;
	font-size:.8em;
}
.top img{
	width:55px;
	height:auto;
}
.top p{	
	color:#666;
	line-height: 26px;
	white-space: nowrap;
}

.top ul .active,
.top2 ul .active{
	position: relative;
}

.top ul .activeImg{
	width:30px;
	position: absolute;
	top:.7em;
	right:-.5em;
}
.top2 ul .activeImg{
	width:25px;
	height:15px;
	position: absolute;
	top:-.6em;
	right:-.4em;
}
.top2 ul{
	width:100%;
	height:80px;
}
.top2 ul li{
	float: left;
	width:20%;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align:center;
	flex-wrap: nowrap;
}
.top2 ul li a img{
	width:25px;
	height:25px;
}
.top2 ul li a p{
	white-space: nowrap;
	color:#666;
	font-size:.8em;
	line-height: 26px;
}


/*banner2样式*/
.ban{
	position: relative;	
}
.banner2{
	height:15em;
	background-color: #ffffff;
	overflow: hidden;
	margin-bottom:10px;
}
.banner2 .banner_icon{
	width:2.5em;
	position: absolute;
	top:15px;
	left:5px;
}
.banner2 .left{
	float: left;
	width:35%;
}
.banner2 img{
	width:100%;
}
.b1,.b2,.b3,.b4{
	padding:10px;
	box-sizing: border-box;
}
.bb2,.bb3,.bb4{
	height:6.25em;
}
.bb1{
	height:13.75em;
}
.banner2 .right{
	float: left;
	width:65%;
}
.banner2 .b2,
.banner2 .r2{
	width:100%;
	height:120px;
}
.banner2 .b3,
.banner2 .b4{
	width:50%;
}

/*content样式*/
.content{
	width:100%;
	height:auto;
	background-color: #fff;
}
.content > dl > dt{
	width:100%;
	height:50px;
	text-align: center;
	color:#999;
	line-height: 50px;
	border-bottom:1px solid #d8d8d8;
}
.content >dl >dd{
	width:100%;
	height:auto;
	padding:10px;
	box-sizing: border-box;
	border-bottom:1px solid #d8d8d8;
}
.content .dealcard{
	width:100%;
	overflow: hidden;
	display: flex;
	flex-wrap:nowrap;
	color:#6b6b6b;
}
.content .dealcard_img{
	width:80px;
	float: left;
}
.content .dealcard_img img{
	width:80px;
	height:80px;
}
.content .dealcard_right{
	position: relative;
	width:100%;
	margin-left:15px;
	margin-bottom:3px;	
}
.dealcard_right dt{
	font-weight: bold;
	font-size: 1.2em;
	color:#333;
}
.dealcard_right dd{
	font-size: 1em;	
	line-height: 1.2em;
	font-size:.8em;
}
.dealcard_right .price{
	color:#f60;
	position: relative;
}
.dealcard_right .price .num{
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.5em;
}
.dealcard_right .account{
	font-size:.8em;
	text-align:center;
	color:#fb4e44;
	padding:1px 6px;
	background-color: #fff5f4;
	border:1px solid #fecfcc;
	border-radius:6px;
	margin-bottom:2px;
}
.dealcard_right .distance,
.dealcard_right .price .sold{
	position: absolute;
	top:0;
	right:0;
}
.dealcard_right .price .sold{
	color:#6b6b6b;
	font-size: .8em;
}
.dealcard_right .close{
	width:.8em;
	height:.8em;
	border:1px solid #efefef;
	border-radius:6px;
}
/*footer样式*/
footer{
	width:100%;
	height:60px;
	position: fixed;
	bottom:0;
	border-top:1px solid #eee;
	background-color: #fff;
}
footer ul{
	width:100%;
	height:60px;
	display: flex;
	justify-content: space-around;
	align-items:center;
	flex-wrap:nowrap;
}
footer ul li{
	display: flex;
	text-align:center;
	
}
footer a{
	color:#707070;
}
footer img{
	width:25px;
	height:25px;
}
footer ul a.active{
	color:#06c1ae;
}
footer p{
	line-height: 1.5em;
	font-size: .8em;
}