body{
    padding:0;
    margin:0;
    background-color: #eff0f4;
}
html{
    font-size:16px;
    font-family: "微软雅黑 Light";
}
/* 头部样式 */
header{    
    width: 100vm;
    height:3rem;
    background-color:#5fc0cd;
    display:flex;
    display: -webkit-flex;
    justify-content: space-between;
    align-items:center;
    padding-left: 1rem;
    padding-right: 1rem;
}
header a{
    color:white;
    text-decoration:none;
}
header > .login {
    color:white;
    font-size:1.3rem;
}
/* main样式 */
main > .Admin,main > .pwd{
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
main > div > div{
    width:3rem;
    height:3rem;
    background-image:url("../images/phone.png");
    background-repeat: no-repeat;
    background-size:35% auto;
    background-position: center center;
}
main > .pwd > div{
    background-image:url("../images/lock.png");
}
main > div:not(:last-child){
    background-color:white;
    margin:.8rem 0;
}
main > div > span{
    width:1rem;
    height:3rem;
    line-height:3rem;
    font-size:1.6rem;
    color:darkgray;
}
main > div > input{
    width:100%;
    height:3rem;
    outline:none;
    border:none;
}
input[type="submit"]{
    color:white;
    background-color:#5fc0cd;
    outline:none;
    font-size:1.2rem;
    letter-spacing: .5rem;
}
main > .submit > a{
    float:right;
    color:#5fc0cd;
    margin:1rem 1rem;
    text-decoration:none;
}
